<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error page</title>
     <div th:replace="fragments/header :: header"></div>
</head>
<body>


<div class="main-error">

       <div style="text-align: center">
        <h2>Error occurred</h1>
        <p>
            Please contact the administrator
        </p>
        <p class="forgot" align="center"><a th:href="@{/}"> Go Back to Login page</p>
       </div>
        
</div>

</body>
</html>