<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
   <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div class="main-register">
            <form autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${user}" method="post" class="form1"
                  role="form">
                   <p class="sign" align="center">Register</p>
               
                        <div align="center" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"
                               class="validation-message"></div>
                        <input type="text" th:field="*{fullName}" placeholder="Full Name"
                               class="un "/>

               
                     <div align="center" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            class="validation-message"></div>
                        <input type="text" th:field="*{email}" placeholder="Email"
                               class="un "/> 
              
              <div align="center"
                            th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                            class="validation-message"></div>
                        <input type="text" th:field="*{username}" placeholder="Username"
                               class="un " required/> 
             
             <div text-align="center"
                            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                            class="validation-message"></div>
                        <input type="password" th:field="*{password}"
                               placeholder="Password" class="un " required/> 
            

                        <button type="submit" class="submit">Register</button>
                          <h4><div class="text-success" th:utext="${successMessage}"></div></h2>
                         <p class="forgot" align="center"><a th:href="@{/}">Login</p>
                 

             

            </form>
</div>
</body>
</html>